.btnLog {
    -fx-background-color: #149ed9;
    -fx-text-fill: #eff1f3;
}
.btnLog:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #149ed9;
    -fx-border-color: #149ed9;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
.btnCancel {
    -fx-background-color: #ff6038;
    -fx-text-fill: #eff1f3;
}
.btnCancel:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #ff6038;
    -fx-border-color: #ff6038;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.menu-item {
    -fx-background-color:  #F9F9F9;
    /*radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 50.0% 50.0%, radius 50.0%, #16a1d9 0.0%, #000000 100.0%)*/
}

.menu-item:hover {
    -fx-background-color: rgba(20, 158, 217, 0.38);
    -fx-text-fill: #149ed9;
}

.aside_menu_background {
    -fx-background-color: #149ed9;
}

.inline_pane_background {
    -fx-background-color: rgba(20, 158, 217, 0.42);
}